<p>
  <md-card>
    <form (ngSubmit)="addNewTeacher()">
      <div>
        <md-input id="idNewTeacherTeacherName" placeholder="name" name="name" [(ngModel)]="newTeacher.name" required></md-input>
      </div>
      <div>
        <md-input id="idNewTeacherJoinDate" placeholder="join date" name="joindate" [(ngModel)]="newTeacher.joindate" required></md-input>
      </div>

      <button id="idNewTeacherSaveButton" md-raised-button color="primary" type="submit">Save</button>
      <hr>
    </form>
  </md-card>
</p>