<p>
  <md-card>
    <form (ngSubmit)="addNewTeacher()">
      <div>
        <md-input id="idNewTeacherTeacherName" placeholder="Name" name="name" [(ngModel)]="newTeacher.name" required i18n></md-input>
      </div>
      <div>
        <md-input id="idNewTeacherJoinDate" placeholder="Join Date" name="joindate" [(ngModel)]="newTeacher.joindate" required i18n></md-input>
      </div>

      <button id="idNewTeacherSaveButton" md-raised-button color="primary" type="submit" i18n>Save</button>
      <hr>
    </form>
  </md-card>
</p>